.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label-delay {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  width: 360px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

input[name='delay'] {
  border: 1px solid #808080;
  border-radius: 4px;
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 8px;
}

fieldset {
  margin-top: 16px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2e2f42;
}

legend {
  text-align: left;
}

.button {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background: #4e75ff;
  border: solid #4e75ff;
  margin-top: 24px;
}

.button:hover {
  background: #6c8cff;
  border: solid #6c8cff;
}
